<header class="m-grid__item    m-header " data-minimize-offset="200" data-minimize-mobile-offset="200">
  <div class="m-container m-container--fluid m-container--full-height">
    <div class="container">
      <div class="row">
        <!-- <div class="m-stack__item m-stack__item--middle m-brand__logo">
        <a href="index.html" class="m-brand__logo-wrapper">
          <img alt="" class="m--full-height" src="/images/Medihub_eng-01.svg" />
        </a>
      </div> -->
          <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
              <div class="container">
                  <a class="navbar-brand" href="/">
                      <img src="/MediHubTheme/images/logo.svg" alt="Medihub logo" class="navbar-brand__logo">
                  </a>
                  <span class="nav-toggle js-menuToggle" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                      <span class="sr-only">toggle navigation</span>
                      <span class="nav-toggle__icon">
                      </span>
                  </span>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ml-auto">
                          <li class="nav-item">
                              <a class="nav-link" href="@Url.Content("~/")#banner">TRANG CHỦ</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="@Url.Content("~/")#intro">GIỚI THIỆU</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="@Url.Content("~/")#services">SẢN PHẨM & DỊCH VỤ</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="@Url.Content("~/")#news">TIN TỨC</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="@Url.Content("~/")#clients">KHÁCH HÀNG</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="@Url.Content("~/")#contact">LIÊN HỆ</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </nav>
      </div>
    </div>
  </div>
</header>