<!-- inject:components/header.html -->
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@Html.Raw("Công ty truyền thông về y tế")">
    <meta name="keyword" content="@Html.Raw("Công ty truyền thông về y tế, sức khỏe, màn hình led lớn nhất,Digital Signage, màn hình truyền thông")">
    <title>Công ty MediHub</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="https://medihub.vn/Content/Images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Muli:300,400,600,700" rel="stylesheet">

    <!-- inject:css -->
    <link rel="stylesheet" href="/MediHubTheme/css/app.css?v=1">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window, document, 'script', 'dataLayer', 'GTM-TRS3TRN');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1997480030579101');
        fbq('track', 'PageView');
    </script>
    <!-- End Google Tag Manager -->
    <!-- endinject -->
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TRS3TRN"
            height="0" width="0" style="display: none; visibility: hidden">
        
    </iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-97628539-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-97628539-2');
</script> 
    

<!-- FB Script -->

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
     page_id="2059776654293149"
     logged_in_greeting="Chào bạn, bạn vui lòng để lại thông tin cần MediHub tư vấn thêm nhé!"
     logged_out_greeting="Chào bạn, bạn vui lòng để lại thông tin cần MediHub tư vấn thêm nhé!">
</div>


<noscript>
    <img height="1" width="1" style="display: none"
         src="https://www.facebook.com/tr?id=151981008828909&ev=PageView&noscript=1"/>
</noscript>
<!-- FB Script -->


<!-- endinject -->
<!-- inject:components/nav.html -->
<!-- endinject -->

@RenderBody()
<div id="fb-root"></div>

<a href="@Url.Action("CreateNewOrder", "Orders")" class="fix-banner" id="ConsultantAdvertise">
    <p class="fix-banner__title">
        Tư vấn Quảng cáo
    </p>
    <p class="fix-banner__phone">(028) 73 099 939</p>
</a>


<!-- inject:components/symbol-defs.svg -->
<svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <symbol id="icon-location" viewBox="0 0 33 32">
            <title>location</title>
            <path d="M16.181 27.649c-1.23-1.817-2.462-3.545-3.599-5.333-2.034-3.199-3.909-6.486-4.917-10.182-1.277-4.669 0.425-8.995 4.406-11.039 3.088-1.584 6.188-1.458 9.096 0.433 2.88 1.872 4.235 4.622 4.091 8.068-0.089 2.189-0.839 4.205-1.73 6.175-1.813 4.016-4.192 7.692-6.792 11.234-0.136 0.186-0.3 0.349-0.555 0.644zM16.275 25.278c3.027-4.246 5.73-8.5 7.21-13.411 0.447-1.484 0.63-2.992 0.253-4.529-1.029-4.186-5.121-6.699-9.31-5.715-4.010 0.944-6.54 5.034-5.669 9.143 0.498 2.355 1.457 4.532 2.558 6.654 1.411 2.722 3.028 5.312 4.957 7.858z"></path>
            <path d="M9.963 22.317c-1.547 0-3.021-0.017-4.496 0.015-0.231 0.004-0.601 0.15-0.665 0.321-0.969 2.62-1.9 5.251-2.869 7.966h28.632c-0.415-1.184-0.81-2.326-1.213-3.462-0.501-1.414-1.030-2.821-1.502-4.244-0.161-0.482-0.407-0.62-0.897-0.609-1.444 0.033-2.89 0.014-4.359 0.014 0.479-1.372 0.479-1.372 1.782-1.372h4.2c1.311 3.667 2.623 7.336 3.952 11.054h-32.528c0.565-1.605 1.108-3.164 1.662-4.718 0.679-1.903 1.383-3.794 2.034-5.707 0.174-0.512 0.428-0.663 0.949-0.643 1.142 0.039 2.297 0.109 3.426-0.018 1.081-0.122 1.555 0.384 1.893 1.401z"></path>
            <path d="M16.247 5.639c1.911 0 3.49 1.551 3.496 3.437 0.010 1.882-1.573 3.459-3.474 3.463-1.922 0.006-3.469-1.522-3.48-3.438-0.011-1.907 1.541-3.46 3.458-3.462zM18.346 9.101c0.006-1.176-0.96-2.148-2.113-2.128-1.126 0.018-2.073 0.973-2.084 2.099-0.011 1.169 0.958 2.13 2.131 2.114 1.158-0.017 2.061-0.926 2.066-2.085z"></path>
        </symbol>
        <symbol id="icon-mail" viewBox="0 0 50 32">
            <title>mail</title>
            <path d="M0.010 3.89c0.646 0.493 1.216 0.926 1.782 1.359 3.179 2.43 6.359 4.857 9.534 7.289 2.565 1.965 5.123 3.935 7.686 5.902 1.917 1.468 3.842 2.936 5.757 4.41 0.203 0.159 0.332 0.125 0.513-0.018 1.778-1.371 3.562-2.738 5.344-4.104 2.004-1.536 4.011-3.067 6.017-4.603 2.396-1.832 4.79-3.669 7.187-5.503 1.941-1.488 3.88-2.974 5.823-4.46 0.093-0.072 0.195-0.133 0.336-0.23 0.012 0.153 0.030 0.262 0.030 0.375 0 8.081 0.002 16.159 0 24.242-0.002 1.281-0.995 2.906-2.040 3.294-0.298 0.113-0.646 0.135-0.973 0.135-14.645 0.006-29.288-0.002-43.933 0.022-1.001 0-1.655-0.439-2.217-1.164-0.608-0.791-0.86-1.665-0.858-2.672 0.018-7.895 0.010-15.789 0.010-23.684v-0.59z"></path>
            <path d="M25.007 0c7.269 0 14.538 0 21.805 0.004 0.453 0 0.908 0.016 1.353 0.083 0.183 0.028 0.403 0.173 0.489 0.328 0.042 0.081-0.135 0.346-0.272 0.455-1.977 1.567-3.955 3.133-5.954 4.674-1.81 1.395-3.647 2.757-5.467 4.138-1.812 1.371-3.622 2.749-5.433 4.12-2.056 1.559-4.118 3.105-6.168 4.672-0.252 0.195-0.415 0.213-0.679 0.012-2.436-1.873-4.883-3.727-7.325-5.588s-4.883-3.723-7.325-5.584c-2.356-1.796-4.72-3.584-7.074-5.384-0.505-0.387-0.991-0.801-1.47-1.222-0.278-0.246-0.226-0.461 0.129-0.582 0.173-0.058 0.362-0.085 0.548-0.097 0.356-0.020 0.717-0.026 1.077-0.026 7.255-0.002 14.51-0.002 21.765-0.002z"></path>
        </symbol>
        <symbol id="icon-phone" viewBox="0 0 34 32">
            <title>phone</title>
            <path d="M34.136 11.004c-0.027 0.082-0.059 0.163-0.082 0.248-0.255 0.924-1.025 1.538-1.975 1.544-1.433 0.010-2.866 0.013-4.299 0.001-1.132-0.009-2.093-0.926-2.101-2.038-0.024-2.583-1.401-4.272-3.563-5.427-1.258-0.671-2.639-0.905-4.049-0.965-1.738-0.074-3.466-0.020-5.131 0.573-1.549 0.553-2.788 1.492-3.656 2.902-0.489 0.796-0.741 1.656-0.749 2.591-0.013 1.516-0.875 2.37-2.386 2.367-1.166-0.003-2.333-0.003-3.499 0-1.579 0.003-2.089-0.343-2.645-1.796v-3.134c0.182-0.953 0.607-1.774 1.313-2.444 1.050-0.997 2.157-1.919 3.388-2.685 2.319-1.439 4.886-2.135 7.564-2.457 3.31-0.398 6.62-0.371 9.932 0.041 3.994 0.498 7.482 2.049 10.386 4.865 0.605 0.586 1.147 1.208 1.385 2.041 0.065 0.234 0.114 0.471 0.17 0.707v3.067z"></path>
            <path d="M10.671 12.807c0-0.867 0.014-1.687-0.005-2.508-0.013-0.609 0.253-1.044 0.74-1.367 0.801-0.531 2.016-0.527 2.81 0.013 0.472 0.32 0.73 0.753 0.718 1.344-0.014 0.8-0.003 1.6-0.001 2.4 0 0.022 0.009 0.042 0.018 0.091h4.239c0.005-0.098 0.017-0.205 0.017-0.311 0.001-0.678 0-1.355 0.001-2.033 0.001-0.939 0.401-1.489 1.302-1.767 0.772-0.239 1.517-0.172 2.209 0.259 0.496 0.308 0.764 0.749 0.753 1.357-0.014 0.821-0.004 1.644-0.004 2.522 0.314 0 0.618 0.006 0.925-0.001 0.822-0.018 1.459 0.315 1.926 0.988 1.835 2.624 3.55 5.318 4.779 8.291 0.611 1.471 0.98 2.985 0.91 4.598-0.041 1.021-0.006 2.046-0.006 3.067 0 1.331-0.906 2.25-2.232 2.251-8.466 0.001-16.932 0.001-25.397 0-1.33 0-2.231-0.912-2.232-2.247-0.001-1.145 0.029-2.291-0.010-3.433-0.041-1.17 0.22-2.266 0.644-3.338 0.938-2.365 2.203-4.553 3.525-6.712 0.499-0.814 1.023-1.613 1.539-2.416 0.457-0.713 1.11-1.063 1.959-1.045 0.274 0.005 0.55 0 0.874 0zM17.085 17.066c-3.553 0.001-6.415 2.861-6.419 6.413-0.005 3.502 2.874 6.39 6.373 6.395 3.565 0.006 6.437-2.865 6.434-6.432-0.003-3.499-2.885-6.378-6.388-6.375z"></path>
            <path d="M21.33 23.495c-0.012 2.348-1.931 4.243-4.287 4.237-2.339-0.006-4.251-1.941-4.235-4.289 0.014-2.363 1.937-4.246 4.322-4.234 2.315 0.012 4.211 1.946 4.2 4.287z"></path>
        </symbol>
        <symbol id="icon-intro01" viewBox="0 0 43 32">
            <title>intro01</title>
            <path d="M29.469 8.629c2.146 2.11 4.252 4.134 6.296 6.219 0.605 0.617 0.612 1.483 0.002 2.099-1.256 1.268-2.607 2.444-4.112 3.836-0.207-0.267-0.505-0.74-0.888-1.128-1.91-1.937-3.316-1.794-4.747 0.47-1.159-0.527-2.259-0.573-3.191 0.476-0.049 0.055-0.119 0.158-0.152 0.149-1.608-0.481-1.958 1.094-2.777 1.793-1.527 1.306-2.878 2.819-4.312 4.235-0.859 0.848-1.794 0.994-2.42 0.41-0.662-0.616-0.535-1.595 0.359-2.496 1.91-1.925 3.843-3.828 5.737-5.768 0.225-0.231 0.268-0.638 0.396-0.965-0.327 0.136-0.733 0.19-0.969 0.419-1.658 1.606-3.281 3.249-4.915 4.879-0.557 0.555-1.271 0.775-1.872 0.281-0.379-0.311-0.586-0.957-0.647-1.479-0.034-0.284 0.346-0.685 0.631-0.924 0.578-0.483 1.289-0.821 1.823-1.344 2.669-2.617 5.338-5.236 7.921-7.937 0.969-1.014 1.985-1.553 3.379-1.357 0.323 0.046 0.659-0.011 0.988 0.010 1.537 0.101 2.84-0.245 3.47-1.877z"></path>
            <path d="M21.622 6.62c1.65 0 3.3-0.014 4.949 0.005 1.207 0.014 1.973 0.598 1.988 1.457 0.015 0.876-0.74 1.463-1.943 1.51-0.037 0.001-0.075 0.006-0.11-0-2.931-0.549-4.968 0.782-6.85 2.908-2.183 2.467-4.628 4.701-6.967 7.028-0.991 0.985-1.613 0.983-2.609 0.005-0.889-0.873-1.776-1.75-2.644-2.644-0.875-0.901-0.876-1.545 0.015-2.456 2.153-2.202 4.327-4.384 6.479-6.586 0.82-0.838 1.807-1.209 2.962-1.205 1.577 0.005 3.153 0.002 4.73 0.002v-0.023z"></path>
            <path d="M10.731 0c0.406 0.332 0.839 0.559 1.091 0.914 0.868 1.224 1.681 2.488 2.5 3.747 0.442 0.679 0.345 1.327-0.217 1.891-2.511 2.519-5.024 5.034-7.545 7.542-0.567 0.564-1.218 0.619-1.899 0.188-1.268-0.804-2.542-1.599-3.801-2.419-1.031-0.672-1.15-1.486-0.28-2.349 2.965-2.945 5.95-5.87 8.947-8.783 0.296-0.288 0.721-0.443 1.204-0.731zM3.92 10.111c-0.43 0.586-0.884 0.941-0.834 1.199 0.069 0.353 0.521 0.63 0.808 0.939 0.271-0.289 0.72-0.555 0.762-0.875 0.040-0.296-0.355-0.649-0.736-1.264z"></path>
            <path d="M37.331 15.075c-0.368-0.229-0.816-0.409-1.132-0.721-2.454-2.42-4.88-4.868-7.318-7.303-0.673-0.672-0.747-1.36-0.193-2.158 0.794-1.143 1.533-2.324 2.313-3.477 0.687-1.017 1.489-1.137 2.366-0.285 3 2.91 5.984 5.836 8.951 8.779 0.87 0.863 0.753 1.69-0.268 2.355-1.258 0.819-2.53 1.619-3.804 2.413-0.24 0.149-0.523 0.23-0.914 0.398zM40.247 11.848c-0.525-0.426-0.851-0.887-1.108-0.851-0.355 0.050-0.657 0.475-0.982 0.739 0.292 0.307 0.542 0.771 0.893 0.868 0.242 0.067 0.624-0.373 1.198-0.756z"></path>
            <path d="M24.627 20.495c0.512 0.315 0.962 0.5 1.293 0.811 1.014 0.956 1.995 1.947 2.962 2.95 0.777 0.806 0.843 1.75 0.218 2.331-0.618 0.574-1.468 0.509-2.255-0.248-1.057-1.016-2.149-2.013-3.073-3.143-0.345-0.422-0.421-1.227-0.31-1.798 0.068-0.349 0.725-0.583 1.165-0.904z"></path>
            <path d="M22.549 23.727c0.962 0.035 4.289 3.334 4.353 4.316 0.076 1.174-1.132 2.015-2.069 1.276-1.301-1.027-2.498-2.244-3.516-3.554-0.689-0.886 0.133-2.078 1.232-2.038z"></path>
            <path d="M22.341 21.215v1.5c-2.143 0.714-2.622 1.873-1.704 3.899-0.79 0.947-1.5 1.88-2.298 2.731-0.842 0.896-1.761 0.986-2.395 0.353-0.617-0.616-0.5-1.567 0.338-2.413 1.973-1.991 3.96-3.969 6.059-6.069z"></path>
            <path d="M32.247 23.106c-0.262 0.326-0.508 0.904-0.924 1.080-0.422 0.177-1.159 0.147-1.498-0.122-0.91-0.72-1.784-1.541-2.456-2.477-0.286-0.398-0.263-1.371 0.039-1.738 0.301-0.366 1.36-0.609 1.68-0.368 1.063 0.802 1.95 1.84 2.882 2.809 0.134 0.14 0.143 0.401 0.278 0.817z"></path>
            <path d="M24.345 30.981c-0.132 0.196-0.313 0.778-0.654 0.895-0.489 0.168-1.216 0.186-1.623-0.074-0.692-0.441-1.326-1.079-1.765-1.772-0.259-0.41-0.25-1.144-0.069-1.622 0.12-0.319 0.744-0.594 1.162-0.624 0.957-0.070 2.918 1.964 2.95 3.197z"></path>
        </symbol>
        <symbol id="icon-intro02" viewBox="0 0 63 32">
            <title>intro02</title>
            <path d="M46.436 0h-30.941c-1.116 0-2.021 0.906-2.021 2.022v19.89c0 1.116 0.906 2.021 2.021 2.021h30.941c1.116 0 2.022-0.906 2.022-2.021v-19.89c0-1.106-0.906-2.021-2.022-2.021zM46.589 20.634c0 1.116-0.906 2.021-2.022 2.021h-27.213c-1.116 0-2.022-0.906-2.022-2.021v-17.335c0-1.116 0.906-2.022 2.022-2.022h27.213c1.116 0 2.022 0.906 2.022 2.022v17.335z"></path>
            <path d="M36.844 31.323h-11.766c-0.105 0-0.181-0.086-0.181-0.181v-1.964c0-0.105 0.086-0.181 0.181-0.181h11.766c0.105 0 0.181 0.086 0.181 0.181v1.964c0 0.095-0.076 0.181-0.181 0.181z"></path>
            <path d="M27.585 24.753h6.76v3.499h-6.76v-3.499z"></path>
            <path d="M20.195 17.135v-7.456c-0.095 0.048-0.267 0.095-0.524 0.162-0.124 0.019-0.305 0.038-0.563 0.057h-0.153c-0.057 0-0.105 0-0.153-0.019v-1.64c0.458-0.095 0.858-0.267 1.192-0.505 0.305-0.238 0.534-0.524 0.706-0.858h1.755v10.26h-2.26z"></path>
            <path d="M29.292 9.802v4.424c0 1.020-0.238 1.783-0.706 2.279-0.448 0.496-1.135 0.744-2.079 0.763-0.944 0-1.64-0.257-2.098-0.763-0.467-0.496-0.706-1.259-0.706-2.279v-4.424c0-0.496 0.057-0.944 0.181-1.335s0.296-0.706 0.524-0.954c0.458-0.515 1.163-0.772 2.098-0.772s1.63 0.257 2.079 0.772c0.467 0.496 0.706 1.249 0.706 2.288zM26.012 9.659v4.691c0 0.41 0.038 0.677 0.105 0.801 0.057 0.095 0.191 0.153 0.391 0.162 0.172 0 0.305-0.057 0.381-0.162 0.067-0.105 0.105-0.372 0.105-0.801v-4.691c0-0.429-0.038-0.696-0.105-0.801-0.057-0.095-0.181-0.153-0.381-0.162-0.172 0-0.305 0.057-0.391 0.162-0.067 0.105-0.105 0.372-0.105 0.801z"></path>
            <path d="M36.024 9.802v4.424c0 1.020-0.238 1.783-0.706 2.279-0.448 0.496-1.135 0.744-2.079 0.763-0.944 0-1.64-0.257-2.098-0.763-0.467-0.496-0.706-1.259-0.706-2.279v-4.424c0-0.496 0.057-0.944 0.181-1.335s0.296-0.706 0.524-0.954c0.458-0.515 1.163-0.772 2.098-0.772s1.631 0.257 2.079 0.772c0.467 0.496 0.706 1.249 0.706 2.288zM32.753 9.659v4.691c0 0.41 0.038 0.677 0.105 0.801 0.057 0.095 0.191 0.153 0.391 0.162 0.172 0 0.305-0.057 0.381-0.162 0.067-0.105 0.105-0.372 0.105-0.801v-4.691c0-0.429-0.038-0.696-0.105-0.801-0.057-0.095-0.181-0.153-0.381-0.162-0.172 0-0.305 0.057-0.391 0.162-0.076 0.105-0.105 0.372-0.105 0.801z"></path>
            <path d="M42.756 9.802v4.424c0 1.020-0.238 1.783-0.706 2.279-0.448 0.496-1.135 0.744-2.079 0.763-0.944 0-1.64-0.257-2.098-0.763-0.467-0.496-0.705-1.259-0.705-2.279v-4.424c0-0.496 0.057-0.944 0.181-1.335s0.296-0.706 0.524-0.954c0.458-0.515 1.163-0.772 2.098-0.772s1.631 0.257 2.079 0.772c0.477 0.496 0.706 1.249 0.706 2.288zM39.485 9.659v4.691c0 0.41 0.038 0.677 0.105 0.801 0.057 0.095 0.191 0.153 0.391 0.162 0.172 0 0.305-0.057 0.381-0.162 0.067-0.105 0.105-0.372 0.105-0.801v-4.691c0-0.429-0.038-0.696-0.105-0.801-0.057-0.095-0.181-0.153-0.381-0.162-0.172 0-0.305 0.057-0.391 0.162-0.067 0.105-0.105 0.372-0.105 0.801z"></path>
            <path d="M54.55 32h-8.21c-0.067 0-0.124-0.057-0.124-0.124v-1.373c0-0.067 0.057-0.124 0.124-0.124h8.21c0.067 0 0.124 0.057 0.124 0.124v1.373c0 0.067-0.057 0.124-0.124 0.124z"></path>
            <path d="M48.086 27.413h4.72v2.441h-4.72v-2.441z"></path>
            <path d="M61.235 10.145h-10.794v0.887h9.497c0.772 0 1.411 0.639 1.411 1.411v12.1c0 0.772-0.639 1.411-1.411 1.411h-18.994c-0.362 0-0.696-0.143-0.944-0.362h-1.764c0.076 0.706 0.677 1.259 1.402 1.259h21.597c0.772 0 1.411-0.639 1.411-1.411v-13.873c-0-0.782-0.629-1.421-1.411-1.421z"></path>
            <path d="M7.733 32h7.819c0.067 0 0.124-0.057 0.124-0.124v-1.373c0-0.067-0.057-0.124-0.124-0.124h-7.819c-0.067 0-0.124 0.057-0.124 0.124v1.373c0 0.067 0.057 0.124 0.124 0.124z"></path>
            <path d="M9.392 27.413h4.501v2.441h-4.501v-2.441z"></path>
            <path d="M1.344 10.145h10.298v0.887h-9.049c-0.744 0-1.344 0.639-1.344 1.411v12.1c0 0.772 0.601 1.411 1.344 1.411h18.107c0.343 0 0.658-0.143 0.896-0.362h1.678c-0.076 0.706-0.648 1.259-1.335 1.259h-20.596c-0.744 0-1.344-0.639-1.344-1.411v-13.873c0-0.782 0.61-1.421 1.344-1.421z"></path>
        </symbol>
        <symbol id="icon-intro03" viewBox="0 0 52 32">
            <title>intro03</title>
            <path d="M10.833 19.941c-0.123 0.268-0.24 0.423-0.263 0.59-0.678 5.057-4.708 7.705-7.892 10.95-0.632 0.644-1.463 0.725-2.141 0.041-0.745-0.752-0.689-1.641 0.010-2.381 1.342-1.417 2.792-2.732 4.103-4.176 0.536-0.59 0.979-1.359 1.202-2.123 1.386-4.76 2.751-9.527 4.017-14.32 0.858-3.249 3.531-3.151 5.549-1.588 1.085 0.841 2.122 1.759 3.081 2.739 0.78 0.798 1.631 1.134 2.722 1.017 0.526-0.056 1.067-0.044 1.595 0 1.003 0.084 1.87-0.023 2.072-1.32 1.025 0.218 1.97 0.413 2.912 0.619 1.589 0.347 2.494-0.582 2.138-2.197-0.192-0.864-0.373-1.731-0.557-2.597-0.009-0.042 0.005-0.088 0.021-0.312 0.723-0.302 1.523-0.638 2.325-0.973 0.813-0.341 1.626-0.681 2.522-1.056 0.532 0.828 1.030 1.606 1.53 2.383 1.039 1.617 2.166 1.632 3.178 0.044 0.497-0.781 0.998-1.56 1.556-2.435 1.477 0.598 2.92 1.138 4.312 1.786 0.262 0.122 0.48 0.689 0.448 1.024-0.074 0.788-0.329 1.556-0.482 2.339-0.273 1.392 0.639 2.279 2.017 1.979 0.99-0.216 1.98-0.434 3.099-0.679 0.69 1.649 1.364 3.262 2.059 4.921-0.888 0.575-1.704 1.103-2.518 1.632-1.397 0.908-1.385 2.148 0.033 3.053 0.814 0.521 1.632 1.037 2.501 1.589-0.604 1.476-1.128 2.882-1.772 4.23-0.14 0.293-0.729 0.544-1.092 0.52-0.742-0.049-1.468-0.312-2.206-0.459-1.466-0.293-2.375 0.637-2.063 2.104 0.202 0.949 0.422 1.894 0.667 2.99-1.638 0.69-3.245 1.367-4.921 2.072-0.568-0.878-1.093-1.693-1.622-2.507-0.891-1.37-2.175-1.348-3.072 0.052-0.502 0.782-1.002 1.563-1.578 2.462-0.821-0.337-1.624-0.665-2.427-0.995-0.813-0.334-1.625-0.668-2.506-1.030 0.217-1.023 0.415-1.969 0.619-2.914 0.323-1.496-0.653-2.489-2.145-2.171-0.867 0.185-1.73 0.384-2.596 0.57-0.081 0.017-0.172-0.016-0.381-0.040-0.644-1.523-1.311-3.101-2.018-4.774 0.846-0.557 1.651-1.089 2.46-1.617 1.399-0.913 1.417-2.19 0.038-3.075-0.522-0.336-1.1-0.607-1.556-1.015-0.406-0.363-0.68-0.875-1.206-1.581-0.972 0-2.421 0.273-3.698-0.078-1.257-0.345-2.34-1.324-3.615-2.095-0.504 1.874-1.029 3.688-1.45 5.527-0.069 0.303 0.235 0.798 0.506 1.057 0.995 0.948 2.137 1.754 3.052 2.769 0.65 0.723 1.279 1.642 1.466 2.566 0.448 2.209 0.649 4.471 0.912 6.715 0.113 0.967 0.077 2.006-1.174 2.149-1.156 0.131-1.618-0.734-1.798-1.733-0.354-1.962-0.672-3.931-1.033-5.892-0.068-0.371-0.158-0.856-0.417-1.056-1.467-1.131-2.988-2.192-4.522-3.3zM43.223 17.418c0.010-3.241-2.597-5.858-5.809-5.832-3.204 0.026-5.737 2.534-5.785 5.728-0.050 3.245 2.504 5.857 5.748 5.882 3.257 0.025 5.837-2.525 5.846-5.777z"></path>
            <path d="M14.774 5.383c-1.498-0.019-2.712-1.249-2.687-2.722 0.025-1.464 1.286-2.679 2.764-2.661 1.479 0.018 2.709 1.274 2.684 2.738-0.025 1.485-1.258 2.664-2.761 2.645z"></path>
        </symbol>
    </defs>
</svg>

<!-- endinject -->
<!-- inject:components/footer.html -->
<!-- Start Page Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-3">
                <h3 class="footer__title">
                    Liên Hệ
                </h3>
                <h3 class="footer__title">
                    Công ty TNHH Truyền Thông MediHub
                </h3>
                <ul class="footer__links">
                    <li class="footer__link">
                        <a target="_blank" href="https://www.google.com/maps/place/302+L%C3%AA+V%C4%83n+S%E1%BB%B9,+Ph%C6%B0%E1%BB%9Dng+1,+T%C3%A2n+B%C3%ACnh,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/10.7966705,106.6615033,17.25z/data=!4m13!1m7!3m6!1s0x3175292e08e50ce7:0x940d039c2437295d!2zMzAyIEzDqiBWxINuIFPhu7ksIFBoxrDhu51uZyAxLCBUw6JuIELDrG5oLCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!3b1!8m2!3d10.796734!4d106.6653819!3m4!1s0x3175292e08e50ce7:0x940d039c2437295d!8m2!3d10.796734!4d106.6653819!10m2!1e2!2e1">
                            <svg class="footer__links-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-location"></use>
                            </svg>
                            Lầu 4, 302 Lê Văn Sỹ, P. 1, Q. Tân Bình, TP.HCM
                        </a>
                    </li>
                    <li class="footer__link">
                        <a href="tel:028 73 099 939">
                            <svg class="footer__links-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-phone"></use>
                            </svg>
                            (028) 73 099 939
                        </a>
                    </li>
                    <li class="footer__link">
                        <a href="mailto:lienhe@medihub.com.vn">
                            <svg class="footer__links-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-mail"></use>
                            </svg>
                            lienhe@medihub.com.vn
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3 class="footer__title">
                    Mạng Xã Hội
                </h3>
                <ul class="social footer__social">
                    <li class="social__item">
                        <a href="https://www.facebook.com/MediHubVN/" target="_blank" class="social__link social__link--fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li class="social__item">
                        <a href="https://www.youtube.com/channel/UCM1lbAyNUD4eyTxZ9BytGeQ/videos" target="_blank" class="social__link social__link--yt"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-12">
                <div class="footer__copyright text-center">
                    © 2018 <a href="https://medihub.vn/">MediHub</a>. All Rights Reserved
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- End Page Footer -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAU4CVf8FLD6nXeKM_lSBL_nnY8DobX6Qs"></script> -->
<!-- inject:js -->
<script src="/MediHubTheme/js/app.js?v=6.1"></script>

<!-- Load Facebook SDK for JavaScript -->
<!-- Load Facebook SDK for JavaScript -->

@RenderSection("Scripts", required: false)
<!-- endinject -->
</body>

</html>

<!-- endinject -->
